//
   Created by jeffersonwu on 4/1/16.

extends layout
block content


    div#version-info #{appName} #{version} created by #{author.name}

    div#all-data #{routeData.serverPort} #{routeData.hardwarePort} #{routeData.local_ip}

    div#invisible-div.
        #{routeData.local_ip}

