//
   Created by jefferson.wu on 4/26/16.

doctype html
html
    head
        title #{title} #{version}
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
        link(rel='stylesheet', href='/css/style.css')
        //script(src='lib/dom_helpers.js');
        script(src='./lib/dom_helpers.js')
    body
        div#title
            h1 #{appName}

        .container
            .content
                block content

        div#footer Version #{version} created by #{author.name}